**/.sqlite3
**/.DS_Store
**/node_modules
**/dist
**/build
**/coverage
**/logs
**/tmp
**/.env
**/.vscode
**/.idea
**/.cache
**/.eslintcache
**/.prettiercache
**/.nyc_output
**/.babelrc
**/.eslintrc
**/.prettierrc
**/tsconfig.json
**/webpack.config.js